/*
0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1000px:
1000 - 1200px: Tablet landscape
[1200 - 1800] - Developed
1800px+ - Big Screen
*/
@-webkit-keyframes expandLine {
  0% {
    height: 0%;
    width: 0%;
  }
  100% {
    height: 85%;
    width: 55%;
  }
}
@keyframes expandLine {
  0% {
    height: 0%;
    width: 0%;
  }
  100% {
    height: 85%;
    width: 55%;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.97;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.97;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--color-primary-dark);
            box-shadow: 0 0 0 0 var(--color-primary-dark);
  }
  30% {
    -webkit-box-shadow: 0 0 0 1.5em rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 1.5em rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--color-primary-dark);
            box-shadow: 0 0 0 0 var(--color-primary-dark);
  }
  30% {
    -webkit-box-shadow: 0 0 0 1.5em rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 1.5em rgba(255, 255, 255, 0);
  }
}

:root {
  --color-primary-light: #ff7b54;
  --color-primary-dark: #ffa68b;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #dfdfdf;
  --color-grey-light-5: #ccc;
  --color-grey-dark-1: #999;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #333;
  --main-animation-time: 1.2s;
  --sub-animation-time: 0.6s;
  --delay-animation: 0.6s;
  --delay-animation-offset: 0s;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media (max-width: 1000px), (max-height: 700px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 900px), (max-height: 620px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 740px), (max-height: 500px) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
}

/* Defining the selection color */
::-moz-selection {
  color: var(--color-primary-dark);
  background: var(--color-grey-dark-1);
}
::selection {
  color: var(--color-primary-dark);
  background: var(--color-grey-dark-1);
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
}

.header__wrapper {
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
}

.header__logo {
  height: 6rem;
  margin: 3rem;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  opacity: 0.95;
}

.header__version {
  color: var(--color-grey-dark-1);
  margin-right: 3rem;
  font-size: 1.5rem;
}

.header__canvas {
  z-index: -10;
  position: absolute;
}

.header__overlay {
  position: absolute;
  z-index: -5;
  height: 100%;
  width: 100%;
  background-color: #181818;
  opacity: 0.97;
  -webkit-animation: fadeOut var(--main-animation-time) calc(var(--delay-animation) + var(--main-animation-time));
          animation: fadeOut var(--main-animation-time) calc(var(--delay-animation) + var(--main-animation-time));
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.header__nav-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-animation: fadeIn var(--sub-animation-time) calc(var(--delay-animation) + var(--main-animation-time));
          animation: fadeIn var(--sub-animation-time) calc(var(--delay-animation) + var(--main-animation-time));
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.header__nav-box .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav-box .contact-info > * {
  margin-left: 5rem;
}

.header__nav-box .contact-info .linkedin-icon:hover {
  fill: var(--color-primary-dark);
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

.header__nav-box .contact-info .github-icon:hover {
  fill: var(--color-primary-dark);
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

.header__nav-box svg {
  height: 3rem;
  width: 3rem;
  fill: var(--color-grey-light-5);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__text-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0rem 5rem;
}

.heading:after {
  content: "";
  position: absolute;
  top: -25%;
  left: -15%;
  border-top: 1.5px solid var(--color-primary-dark);
  border-left: 1.5px solid var(--color-primary-dark);
  border-top-left-radius: 1rem;
  height: 85%;
  width: 55%;
  -webkit-animation: expandLine var(--main-animation-time);
          animation: expandLine var(--main-animation-time);
}

@media (max-width: 660px), (max-height: 500px) {
  .heading:after {
    display: none;
  }
}

.heading:before {
  content: "";
  position: absolute;
  bottom: -25%;
  right: -15%;
  border-bottom: 1.5px solid var(--color-primary-dark);
  border-right: 1.5px solid var(--color-primary-dark);
  border-bottom-right-radius: 1rem;
  height: 85%;
  width: 55%;
  -webkit-animation: expandLine var(--main-animation-time);
          animation: expandLine var(--main-animation-time);
}

@media (max-width: 660px), (max-height: 500px) {
  .heading:before {
    display: none;
  }
}

.heading__buttons {
  -webkit-animation: fadeIn calc(var(--sub-animation-time) + var(--delay-animation-offset)) calc( var(--delay-animation) + var(--main-animation-time) + var(--delay-animation-offset));
          animation: fadeIn calc(var(--sub-animation-time) + var(--delay-animation-offset)) calc( var(--delay-animation) + var(--main-animation-time) + var(--delay-animation-offset));
  /* animation-name duration fadetype delay */
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  /* Applies the 0% styles before the animation starts, because otherwise the button would be visible before because of the delay*/
}

.hidden {
  display: none;
}

.heading__intro {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--color-primary-light);
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.heading-primary {
  -webkit-animation: fadeIn 2s 1s;
          animation: fadeIn 2s 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.heading-primary--main, .heading-primary--sub {
  display: block;
  text-transform: uppercase;
}

.heading-primary--main {
  font-size: 7rem;
  color: var(--color-grey-light-1);
}

@media (max-width: 660px), (max-height: 500px) {
  .heading-primary--main {
    margin-bottom: 2rem;
  }
}

.heading-primary--sub {
  font-size: 3rem;
  font-weight: 400;
  -webkit-animation: fadeIn var(--sub-animation-time) calc(var(--delay-animation) + var(--main-animation-time));
          animation: fadeIn var(--sub-animation-time) calc(var(--delay-animation) + var(--main-animation-time));
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media (max-width: 660px), (max-height: 500px) {
  .heading-primary--sub {
    margin-bottom: 1rem;
  }
}

.heading__author {
  text-transform: uppercase;
  font-size: 2rem;
  padding-top: 1rem;
  -webkit-animation: fadeIn var(--sub-animation-time) calc(var(--delay-animation) + var(--main-animation-time));
          animation: fadeIn var(--sub-animation-time) calc(var(--delay-animation) + var(--main-animation-time));
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 5rem;
}

.heading__author .author-name {
  color: var(--color-primary-light);
  font-weight: 600;
}

.btn {
  position: relative;
}

.btn--main {
  color: var(--color-grey-light-1);
  border: 0.1rem solid var(--color-primary-light);
}

.btn--main:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: pulse 5s 3s infinite;
          animation: pulse 5s 3s infinite;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 1.6rem;
  -webkit-box-shadow: inset 0 0 0 0 #ff6e41;
          box-shadow: inset 0 0 0 0 #ff6e41;
  -webkit-transition: background-color 0.25s, -webkit-transform 0.1s;
  transition: background-color 0.25s, -webkit-transform 0.1s;
  transition: background-color 0.25s, transform 0.1s;
  transition: background-color 0.25s, transform 0.1s, -webkit-transform 0.1s;
}

@media (max-width: 900px), (max-height: 620px) {
  .btn:link, .btn:visited {
    font-size: 2rem;
    padding: 2rem 5rem;
  }
}

.btn:hover {
  background-color: #ff6e41;
}

.btn:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
/*# sourceMappingURL=main.css.map */