.heading {
  &__intro {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--color-primary-light);
  }

  &-primary {
    &--main,
    &--sub {
      display: block;
      text-transform: uppercase;
    }

    &--main {
      font-size: 7rem;
      color: var(--color-grey-light-1);
    }

    &--sub {
      font-size: 3rem;
      font-weight: 400;
    }
  }

  &__author {
    text-transform: uppercase;
    font-size: 2rem;
    padding-top: 1rem;

    .author-name {
      color: var(--color-primary-light);
      font-weight: 600;
    }
  }
}

.btn {
  display: block;
}
