.heading {
  text-transform: uppercase;

  &__intro {
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--color-primary-light);
    animation: fadeIn 1s;
  }

  &__primary {
    animation: fadeIn 1.5s 1s;
    animation-fill-mode: backwards;
    &--main,
    &--sub {
      display: block;
    }

    &--main {
      font-size: 7rem;
      color: var(--color-grey-light-1);
      @include respond-phone {
        margin-bottom: 2rem;
      }
    }

    &--sub {
      font-size: 3rem;
      font-weight: 400;
      animation: fadeIn var(--sub-animation-time)
        calc(var(--delay-animation) + var(--main-animation-time));
      animation-fill-mode: backwards;
      backface-visibility: hidden;
      @include respond-phone {
        margin-bottom: 1rem;
      }
    }
  }

  &__author {
    font-size: 2rem;
    padding-top: 1rem;
    animation: fadeIn var(--sub-animation-time)
      calc(var(--delay-animation) + var(--main-animation-time));
    animation-fill-mode: backwards;
    backface-visibility: hidden;

    margin-bottom: 5rem;

    .author-name {
      color: var(--color-primary-light);
      font-weight: 600;
    }
  }
}

.btn {
  position: relative;

  &--main {
    color: var(--color-grey-light-1);
    border: 0.1rem solid var(--color-primary-light);
  }

  &--main:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: pulse 5s 3s infinite;
  }

  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 0.25rem;
    display: inline-block;
    font-size: 1.6rem;
    transition: background-color 0.25s, transform 0.1s;
    @include respond-tablet-portrait {
      font-size: 2rem;
      padding: 2rem 5rem;
    }
  }

  &:hover {
    background-color: rgb(255, 110, 65);
  }

  &:active {
    transform: scale(1.05);
  }
}
