.header {
  position: relative;
  height: 100vh;
  width: 100%;

  &__logo {
    height: 6rem;
    margin: 3rem;

    //quality hack
    image-rendering: pixelated;
    opacity: 0.95;
  }

  &__version {
    color: var(--color-grey-dark-1);
    margin-right: 3rem;
    font-size: 1.5rem;
  }

  &__canvas {
    z-index: -10;
    position: absolute;
  }

  &__overlay {
    position: absolute;
    z-index: -5;
    height: 100%;
    width: 100%;
    background-color: rgba(24, 24, 24, 1);
    opacity: 0.97;
    animation: fadeOut var(--main-animation-time)
      calc(var(--delay-animation) + var(--main-animation-time));
    animation-fill-mode: backwards;
    backface-visibility: hidden;
  }

  &__nav-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    animation: fadeIn var(--sub-animation-time)
      calc(var(--delay-animation) + var(--main-animation-time));
    animation-fill-mode: backwards;
    backface-visibility: hidden;

    .contact-info {
      display: flex;
      align-items: center;
      justify-content: center;

      & > * {
        margin-left: 5rem;
      }

      .linkedin-icon:hover {
        fill: var(--color-primary-dark);
        transform: translateY(-0.25rem);
      }

      .github-icon:hover {
        fill: var(--color-primary-dark);
        transform: translateY(-0.25rem);
      }
    }

    svg {
      height: 3rem;
      width: 3rem;
      fill: var(--color-grey-light-5);
      transition: all 0.2s;
    }
  }

  &__text-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.heading {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0rem 5rem;

  &:after {
    content: "";
    position: absolute;
    top: -25%;
    left: -15%;
    border-top: 1.5px solid var(--color-primary-dark);
    border-left: 1.5px solid var(--color-primary-dark);
    border-top-left-radius: 1rem;
    height: 85%;
    width: 55%;
    animation: expandLine var(--main-animation-time);

    @include respond-tablet-portrait {
      display: none;
    }
  }

  &:before {
    content: "";
    position: absolute;
    bottom: -25%;
    right: -15%;
    border-bottom: 1.5px solid var(--color-primary-dark);
    border-right: 1.5px solid var(--color-primary-dark);
    border-bottom-right-radius: 1rem;
    height: 85%;
    width: 55%;
    animation: expandLine var(--main-animation-time);

    // @include respond-tablet-effect {
    //   bottom: -15%;
    //   right: -5%;
    // }

    @include respond-tablet-portrait {
      display: none;
    }
  }

  &__buttons {
    animation: fadeIn
      calc(var(--sub-animation-time) + var(--delay-animation-offset))
      calc(
        var(--delay-animation) + var(--main-animation-time) +
          var(--delay-animation-offset)
      ); /* animation-name duration fadetype delay */
    animation-fill-mode: backwards; /* Applies the 0% styles before the animation starts, because otherwise the button would be visible before because of the delay*/
  }
}

.hidden {
  display: none;
}

//by: https://codepen.io/mike-schultz/pen/NgQvGO
//
//   &:after {
//     content: "";
//     position: absolute;
//     top: calc(-1 * var(--borderWidth));
//     left: calc(-1 * var(--borderWidth));
//     height: calc(100% + var(--borderWidth) * 2);
//     width: calc(100% + var(--borderWidth) * 2);
//     background: linear-gradient(
//       60deg,
//       #f79533,
//       #f37055,
//       #ef4e7b,
//       #a166ab,
//       #5073b8,
//       #1098ad,
//       #07b39b,
//       #6fba82
//     );
//     border-radius: calc(2 * var(--borderWidth));
//     z-index: -1;
//     animation: animatedgradient 3s ease alternate infinite;
//     background-size: 300% 300%;
//   }

// @keyframes animatedgradient {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }
