.canvas-container {
  position: relative;

  canvas,
  &__overlay {
    position: absolute;
  }

  &__overlay {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 25, 25, 0.97);
  }
}

.header__version {
  position: absolute;
}

.header__logo {
  position: absolute;
  display: inline-block;
}
