.app-container {
  position: relative;
}
.canvas-container {
  position: relative;
  display: flex;

  canvas,
  &__overlay {
    position: absolute;
  }

  &__overlay {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 25, 25, 0.97);
  }
}

.header {
  &__version {
    position: absolute;
  }

  &__logo {
    position: absolute;
    display: inline-block;
  }
}

.coding-labs {
  display: flex;
  height: 200px;
}
